<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojo Counter</title>
    </head>
        <body>
            <h3>Here is a counter:</h3>
            <h5>If you refresh the page the count should go up...</h5>
            <p><%= count %></p>
            <a href="/byTwo"><button>Add two counts!</button></a>
            <a href="/reset"><button>Reset the count!</button></a>
        </body>
    </html>